##Files to be ignored by Git

*~
*.o
*.so
*.d
*.root
*.txt
*.pdf
*.eps
*.xml
*.jdl
AutoDict*
test*
trash*
analysis_*
Old Stuff/*
SuccessRates*
Old*
*Old*
run*

##LaTex stuff
*.log
*.gz
*.toc
*.aux
*.cls
*.lof
*.out
